<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Practice File</title>
</head>
<body>
  <header></header>
  <main>
    <section>
      <div class="hero">
        <h1>Hello JS</h1>
      </div>
      <hr>
      <div class="para">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia a eaque molestiae nihil aperiam nisi sequi dolor, consequuntur earum pariatur. Maiores, in explicabo optio accusamus magni obcaecati quaerat numquam debitis! Doloremque fuga ducimus hic, nesciunt sit corrupti esse dolore sapiente repellendus vel, sequi voluptatibus iure minus. Facilis sed voluptatibus laboriosam repellat expedita unde, quaerat voluptatem commodi et, rerum quisquam, necessitatibus dolore a asperiores quasi minima ea inventore eos adipisci fugiat reprehenderit accusamus. Ducimus a quidem dolor error quae? Laborum hic facere totam, quia repellat deserunt aliquam? Aperiam illo repellat voluptatum repellendus nesciunt ipsa veritatis, illum laborum! Reprehenderit debitis officia ipsam.
      </div>
      <hr>
      <div class="form-btn">
        <button class="btn" id="btn1" type="button">Add To Bag</button>
        <button class="btn" id="btn2" type="button">❤️WISHLIST</button>
      </div>
    </section>
  </main>
  <footer></footer>
  <script src="script.js"></script>
</body>
</html>