.calculator{
  border: 2px solid rgb(74, 68, 68);
  width: 255px;
  border-radius: 5px;
}

#display{
  border: 2px solid black;
  margin: 15px;
  border-radius: 4px;
  font-size: 35px;
  width: 85%;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#btn{
height: 70px;
width: 70px;
margin: 3px;
}