<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/practice/css/grid.css">
    <title>GRID PRACTICE</title>
</head>
<body>
    <header>GRID ITEMS</header>
    <main>
        <div class="container">
            <div id="item1" class="box">ITEM1</div>
            <div id="item2" class="box">ITEM2</div>
            <div id="item3" class="box">ITEM3</div>
            <div id="item4" class="box">ITEM4</div>
        </div>
    </main>
    <footer>
        @GRID
    </footer>
</body>
</html>