<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prac</title>
</head>
<body>
  <header></header>
  <main>
    <h1>CODING</h1>
    <button id="cm">clickme</button>
    <button class="bt">pushme</button>
    <button class="bt">pushme</button>
    <hr>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, deserunt sequi similique, mollitia earum, asperiores expedita porro necessitatibus quod nam iure. Repudiandae corporis aut quas nihil quia. Voluptate officiis accusamus similique consectetur, eum id ad. Architecto adipisci maxime veritatis, iusto sed cumque! Optio voluptatum quia natus! Consequuntur, odit quasi veniam expedita dolore officiis aliquid?
    </p>
    <a href="index.html" target="_blank">Normal-Website</a>
</main>
<footer></footer>
</body>
</html>