<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/practice/css/set4.css">
    <title>SET 4 PRACTICE</title>
</head>
<body>
    <header></header>
    <main>
        <section>
            <div class="ebox">
                THE EBOX
            </div>
            <button class="bn">HELLO</button>
            <input class="in" type="submit" value="submit">
        </section>
        <section>
            <div id="box1">
                <h1>
                    THIS IS BOX_1
                </h1>
            </div>
            <div id="box2">
                <h1>
                    THIS IS BOX_2
                </h1>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>