*{
  font-family: 'Courier New', Courier, monospace;
}
h1{
  text-align: center;
}

#btn-submit{
  background-color: rgb(8, 196, 89);
  color: rgb(244, 241, 236);
  border-radius: 3px;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 1.5px solid black;
  border-left:1.5px solid black;
  padding: 5px;
}

#btn-submit:hover{
  cursor: pointer;  
  border: 1px solid black;
}

#btn-delete{
  background-color: rgb(226, 9, 13);
  color: rgb(244, 241, 236);
  border-radius: 3px;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 1.5px solid black;
  border-left:1.5px solid black;
  padding: 5px;
}

#btn-delete:hover{
  cursor: pointer;  
  border: 1px solid black;
}


#input-box{
  
}

.class-hero{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
}