<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/practice/css/set6.css">
    <title>Practice Set 6 for flex</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">HOME</a>
            <a href="/practice/html/flex.html" target="_blank">ABOUT</a>
            <a href="/practice/html/grid.html" target="_blank">CONTACT</a>
            <a href="/practice/html/image.html" target="_blank">CAREER</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="image">
                <img src="/practice/image/KRAVEN.jpg
                " alt="KRAVEN">
            </div>
            <div class="container">
                <div id="box1" class="box">BOX1</div>
                <div id="box2" class="box">BOX2</div>
                <div id="box3" class="box">BOX3</div>
            </div>
            <div id="mbox">MBOX</div>
        </section>
    </main>
    <footer></footer>
</body>
</html>